numpy
llvmlite
numba
torch>=1.9
tensorboardX
easydict
pyyaml
scikit-image
tqdm
torchvision
torch_geometric
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
av2
matplotlib
haredArray
opencv-python
kornia<=0.6.8
spconv-cu117